/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/

.primary-nav-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 0 0;
	position: fixed;
	z-index: 10000;
	width: 100%;
	min-height: 0;
	transition: all .5s ease-in-out;
	overflow: hidden;

	@media (--desktop) {
		align-items: flex-start;
		padding: 10px 3vw 0 3vw;
	}

	&.open {
		min-height: 100vh;
		background-color: rgba(29, 42, 58, .9);
	}

	&.notification-on {
		top: 48px;
	}

	&.is_stuck {
		background-color: var(--White);
		box-shadow: 0px 3px 5px rgba(29, 42, 58, .1);
		width: 100%;
		padding: 0;
		top: 0;
		left: 0;

		@media (--desktop) {
			padding: 4px 3vw;
		}

		&.notification-on {
			top: 48px;
		}

		& nav.nav-primary {
			& ul {
				& li {
					& a {
						color: var(--PrimaryThree);
						padding: 25px 0;

						@media (--desktop) {
							color: var(--PrimaryOne);
							padding: 1.5vh 0;
						}
					}
				}
			}
		}

		& svg {
			fill: var(--PrimaryOne);
		}

		& .brand svg .cls-1 {
			fill: var(--PrimaryThree);
		}

		& .brand svg .cls-2 {
			fill: #92a1bd;
		}
	}
}

nav.nav-primary {
	display: flex;

	@media (--desktop) {
		position: absolute;
		top: 16vh;
		left: 0;
		width: 100%;
	}

	&:first-of-type {
		order: 1;

		@media (--desktop) {
			order: 4;
			display: inline-block;
		}

		& ul:last-child {
			display: none;

			@media (--desktop) {
				display: block;
			}
		}
	}

	&:last-of-type {
		margin-right: 40px;
		order: 3;

		@media (--desktop) {
			display: none;
		}
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;

		& li {
			display: inline-block;
			margin: 0 16px;
			padding: 0;

			@media (--desktop) {
				width: 100%;
				text-align: center;
				margin: 0;
			}

			&.active a {
				&::after {
					opacity: 1;
				}
			}

			& a {
				display: inline-block;
				color: var(--WhiteCopy);
				font-family: var(--HeadCopy-Light);
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-decoration: none;
				padding: 8px 0;
				position: relative;

				@media (--desktop) {
					font-size: 20px;
					padding: 12px 0;
				}

				&::after {
					content: '';
					position: absolute;
					height: 3px;
					opacity: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					background-color: var(--NeutralFive);
					transition: all .5s ease-in-out;
				}

				&:hover,
				&:focus {
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}

/*-----------------------------------------
    PRIMARY SEARCH
-----------------------------------------*/

svg.search-toggle {
	position: absolute;
	right: 20px;
	top: 38px;
	margin: 0;
	margin-top: 0px;
	height: 16px;
	width: 16px;
	fill: var(--WhiteCopy);
	cursor: pointer;

	@media (--desktop) {
		position: relative;
		order: 1;
		right: auto;
		height: 24px;
		width: 24px;
		margin-top: -10px;
	}
}

.is_stuck svg.search-toggle {
	margin-top: -10px;
}

/*-----------------------------------------
    PRIMARY MENU
-----------------------------------------*/

svg.menu {
	margin: 0;
	height: 16px;
	width: 16px;
	fill: var(--WhiteCopy);
	cursor: pointer;
	display: none;

	@media (--desktop) {
		display: inline-block;
		position: relative;
		order: 3;
		height: 24px;
		width: 24px;
		margin-top: 25px;
	}
}

/*-----------------------------------------
    PRIMARY LOGO
-----------------------------------------*/

a.brand {
	text-decoration: none;
	order: 2;

	&::after {
		display: none;
	}

	& img,
	& svg {
		height: 65px;
		margin-top: 5px;
		fill: var(--White);
	}

	@media (--desktop) {
		position: relative;
		order: 2;
		margin-top: 0;
	}
}

/*-----------------------------------------
    SEARCH FORM CONTAINER
-----------------------------------------*/

.search-block,
.attorney-search-block {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: -1;
	overflow: hidden;

	&.active {
		& .block {
			left: 0;
		}
	}

	& .block {
		background-color: rgba(29, 42, 58, .9);
		position: absolute;
		top: 0;
		left: -100%;
		height: 100%;
		width: 100%;
		transition: all .5s ease-in-out;

		&>svg {
			width: 66px;
			height: 66px;
			position: absolute;
			top: 25px;
			right: 50px;
			fill: var(--PrimaryOne);
			cursor: pointer;

			@media (--phone) {
				top: 10px;
				right: 10px;
				width: 40px;
				height: 40px;
			}
		}

		& form {
			width: 90vw;
			max-width: 800px;
			margin: 0 auto;
			position: relative;
			top: 30vh;

			& label {
				color: var(--WhiteCopy);
				font-family: var(--HeadCopy);
				font-weight: 400;
				font-size: responsive 45px 75px;
				font-range: 420px 1400px;
				letter-spacing: 5px;
				text-transform: uppercase;
			}

			& input {
				border-radius: 50px;
				margin-right: 6px;
				padding: 8px 16px;
				font-family: var(--BodyCopy);
				font-size: responsive 18px 24px;
				font-range: 420px 1400px;
			}

			& button {
				margin: 1em 0 0 0;
				padding: 8px 50px;
				font-size: responsive 18px 24px;
				font-range: 420px 1400px;
			}
		}
	}
}