/*-----------------------------------------
    ERROR/404 PAGE
-----------------------------------------*/
.error-message {
	width: 80vw;
	margin: 0 auto 0 auto;
	& h1 {
		font-size: responsive 70px 100px; 
		font-range: 420px 1400px;
		margin: 0 0 2vh 0;
		color: var(--PrimaryOne);
	}
	& h2 {
		max-width: 500px;
	}
	& p {
		display: inline-block;
		max-width: 500px;
	}
	& svg {
		width: 80px;
		position: relative;
		top: 2rem;
		margin-top: -2rem;
		margin-left: 1rem;
		fill: var(--PrimaryOne);
	}
}