/*-----------------------------------------
  CONTACT PAGE
-----------------------------------------*/
.page-id-125 {
	& form {
		& .gform_footer {
			text-align: center;
			& button {
				margin: 0 auto;
			}
		}
	}
}
