/*-----------------------------------------
  SECTIONS NAVIGATION
-----------------------------------------*/
.sectional-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	max-width: 940px;
	margin: 40px auto;
	padding: 0 16px;

	@media (--laptop) {
		padding: 0 4vw;
	}

	@media (--tablet) {
		position: relative;
		z-index: 2;
	}

	&::after {
		content: '';
		width: 65vw;
		height: 2px;
		background-color: var(--PrimaryOne);
		position: absolute;
		right: 0;
		margin-top: 32px;

		@media (--tablet) {
			width: 92vw;
			top: .5em;
			margin: 0 4vw;
		}
	}

	&::before {
		@media (--tablet) {
			content: 'Jump to:';
			font-family: var(--SubHeadCopy);
			font-size: 18px;
			color: var(--BlackCopy);
			position: absolute;
			top: -1.25em;
			left: 4vw;
		}
	}

	& ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;

		@media (--tablet) {
			padding-top: .5em;
		}

		& li {
			padding: 8px 0;
			margin: 0;

			@media (--tablet) {
				width: 100%;
				padding: 1.25rem 0 0 0;
				line-height: 1.5;
			}

			& a {
				display: inline-block;
				padding: 8px 16px;
				font-family: var(--HeadCopy);
				text-transform: uppercase;
				letter-spacing: 1px;

				@media (--tablet) {
					padding: 0;
					font-size: 20px;
				}
			}
		}
	}
}

/*-----------------------------------------
  REMOVES EXTRA WHITE SPACE FROM
	APPEARING DUE TO PARALLAX ELEMENTS
-----------------------------------------*/
.hidden-overflow {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
}

/*-----------------------------------------
  SECTIONS REPEATER
-----------------------------------------*/
.sections {
	width: 90vw;
	max-width: 940px;
	margin: 0 auto;
	position: relative;

	@media (--laptop) {
		width: 100vw;
	}

	& .section {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		position: relative;

		&:nth-child(odd) {
			& .design-heading {
				left: 0;

				@media (--laptop) {
					right: auto;
					left: -20px;
				}
			}

			& .content {
				order: 2;

				@media (--laptop) {
					order: 1;
				}
			}

			& .gallery {
				order: 1;

				@media (--laptop) {
					order: 2;
				}
			}
		}

		&:nth-child(even) {
			& .design-heading {
				left: -10%;

				@media (--laptop) {
					right: auto;
					left: -20px;
				}
			}

			& .content {
				order: 1;
			}

			& .gallery {
				order: 2;
			}
		}

		&.garan-gives .content {
			& h2:first-child {
				display: none;
			}

			& img:first-of-type {
				max-width: 200px;
				height: auto;
			}
		}

		& .design-heading {
			white-space: nowrap;
			text-align: right;
			position: absolute;
			top: 80px;
			color: var(--NeutralOne);
			font-family: var(--HeadCopy);
			font-size: responsive 150px 200px;
			font-range: 420px 1400px;
			font-size: 200px;
			letter-spacing: 20px;
			text-transform: uppercase;

			@media (--laptop) {
				top: 30px;
				font-size: responsive 100px 175px;
				font-range: 420px 1400px;
			}
		}

		&>.block {
			width: 50%;
			padding: 0 2vw;
			margin: 80px 0;
			position: relative;

			@media (--laptop) {
				width: 100%;
				margin: 40px 0;
				padding: 0 4vw;
			}
		}

		& .content {
			& .button {
				@media (--laptop) {
					margin: 1.5em auto;
					display: table;
				}
			}
		}

		& .gallery {
			text-align: center;
			padding-top: 175px;

			@media (--laptop) {
				padding: 0;
				margin-top: 0;
			}

			& img {
				width: 100%;
				max-width: 600px;
				margin: 0 auto;

				@media (--laptop) {
					max-width: 100%;
				}
			}
		}
	}
}