/*-----------------------------------------
    NAVIGATION
-----------------------------------------*/
.page-template-template-styleguide .primary-nav-container {
	background-color: var(--PrimaryThree);

	&.is_stuck {
		background-color: var(--White);
	}
}

/*-----------------------------------------
    PAGE TITLE
-----------------------------------------*/
.styleguide-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
	padding-top: 100px;

	&>.block {
		padding: 40px;
		border-radius: 25px;
		text-align: center;
		max-width: 90vw;

		@media (--phone) {
			margin-bottom: 10vh;
		}

		& svg {
			width: auto;
			height: 150px;
		}

		& h1,
		& h2 {
			margin: 0;
			line-height: 1.37;
		}
	}
}

/*-----------------------------------------
    LAYOUT
-----------------------------------------*/
.styleguide-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 90vw;
	margin: 0 auto;

	&>.block {
		width: 45vw;
		padding: 0 2.5vw;

		@media (--desktop) {
			width: 90vw;
			padding: 0;
		}

		& .styleguide-section:first-child>h2 {
			margin-top: 0;
		}
	}
}

.styleguide-section {
	&>h2 {
		margin-top: 8vh;
	}
}

;

/*-----------------------------------------
    COLORS
-----------------------------------------*/
.colors {
	display: flex;
	flex-wrap: wrap;

	&>p:first-child {
		width: 100%;
		margin: 3vh 0;
		font-family: var(--HeadCopy);
		letter-spacing: 1px;
		color: var(--NeutralCopy);
		text-transform: uppercase;
	}
}

.color {
	width: 6.4vw;
	margin-right: 2vw;
	margin-bottom: 2vw;

	@media (--desktop) {
		width: 14.8vw;
		margin-right: 4vw;
	}

	@media (--laptop) {
		width: 25vw;
		margin-right: 5vw;
	}

	@media (--phone) {
		width: 40vw;
		margin: 0 2vw;
	}

	&:nth-of-type(5n) {
		margin-right: 0;

		@media (--tablet) {
			margin-right: 8vw;
		}
	}

	&:nth-of-type(3n) {
		@media (--tablet) {
			margin-right: 0;
		}
	}

	& .color-swatch {
		border-radius: 16px;
		width: 6.4vw;
		height: 6.4vw;
		position: relative;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (--desktop) {
			width: 12.8vw;
			height: 12.8vw;
		}

		@media (--laptop) {
			width: 25vw;
			height: 25vw;
		}

		@media (--phone) {
			width: 40vw;
			height: 40vw;
		}

		&::after {
			content: '';
			position: absolute;
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			left: -4px;
			top: -4px;
			background: var(--White);
			border-radius: 16px;
			box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
			z-index: -1;
		}

		&>p {
			margin: 0;
			opacity: 0;
			background: rgba(255, 255, 255, .5);
			padding: .5em;
		}

		&.copied>p {
			opacity: 1;
		}
	}

	& .color-details {
		margin-top: 1rem;

		@media (--tablet) {
			margin-bottom: 8vw;
		}

		& p {
			text-transform: uppercase;
			margin: 0 0 .5em 0;
			padding-left: .75em;
			font-size: .75em;
			font-family: var(--BodyCopy-Bold);
			color: var(--NeutralCopy);

			& span {
				font-family: var(--BodyCopy);
				color: var(--BlackCopy);
				margin-left: .75em;

				@media (--tablet) {
					display: block;
				}

				@media (--phone) {
					display: inline-block;
				}
			}
		}
	}
}

.colors:nth-of-type(1) {
	& .color:nth-of-type(1) .color-swatch {
		background-color: var(--PrimaryOne);
	}

	& .color:nth-of-type(2) .color-swatch {
		background-color: var(--PrimaryTwo);
	}

	& .color:nth-of-type(3) .color-swatch {
		background-color: var(--PrimaryThree);
	}

	& .color:nth-of-type(4) .color-swatch {
		background-color: var(--PrimaryFour);
	}

	& .color:nth-of-type(5) .color-swatch {
		background-color: var(--PrimaryFive);
	}
}

.colors:nth-of-type(2) {
	& .color:nth-of-type(1) .color-swatch {
		background-color: var(--NeutralOne);
	}

	& .color:nth-of-type(2) .color-swatch {
		background-color: var(--NeutralTwo);
	}

	& .color:nth-of-type(3) .color-swatch {
		background-color: var(--NeutralThree);
	}

	& .color:nth-of-type(4) .color-swatch {
		background-color: var(--NeutralFour);
	}

	& .color:nth-of-type(5) .color-swatch {
		background-color: var(--NeutralFive);
	}
}

/*-----------------------------------------
    FONTS
-----------------------------------------*/
.fonts {
	display: flex;
	flex-wrap: wrap;
}

.font {
	width: 8.5vw;
	height: 8.5vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	border: 1px solid var(--NeutralTwo);
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&:nth-child(1)>.block p {
		font-family: var(--HeadCopy);
	}

	&:nth-child(2)>.block p {
		font-family: var(--SubHeadCopy);
	}

	&:nth-child(3)>.block p {
		font-family: var(--BodyCopy);
	}

	&:nth-child(4)>.block p {
		font-family: var(--BodyCopy-Bold);
	}

	@media (--desktop) {
		width: 19.5vw;
		height: 19.5vw;
		margin-right: 4vw;
	}

	@media (--laptop) {
		width: 41vw;
		height: 41vw;
		margin-right: 8vw;
		margin-bottom: 8vw;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	&:nth-child(4n) {
		margin-right: 0;
	}

	&>.block {
		width: 100%;

		& p {
			font-size: 2.5rem;
			margin: 0;
			text-align: center;

			@media (--laptop) {
				font-size: 5rem;
			}

			@media (--tablet) {
				font-size: 3rem !important;
			}
		}

		& p:first-child,
		& p:last-child {
			font-size: .75rem;
			color: var(--NeutralCopy);
			font-family: var(--BodyCopy-Bold);
			line-height: 1;

			@media (--laptop) {
				font-size: 1.5rem;
			}

			@media (--tablet) {
				font-size: .75rem !important;
			}
		}
	}
}

/*-----------------------------------------
    TYPOGRAPHY
-----------------------------------------*/
.typography {
	&>p:first-child {
		width: 100%;
		margin: 4vh 0 1vh 0;
		font-family: var(--HeadCopy);
		letter-spacing: 1px;
		color: var(--NeutralCopy);
		text-transform: uppercase;

		& span {
			color: var(--BlackCopy);
		}
	}

	&>h1,
	&>h2,
	&>h3,
	&>h4,
	&>h5,
	&>p {
		margin: 0;
	}
}

/*-----------------------------------------
    LOGOS
-----------------------------------------*/
.logos {
	display: flex;
	flex-wrap: wrap;
}

.logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 19vw;
	height: 10vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;

	@media (--desktop) {
		width: 43vw;
		height: 17vw;
		margin-right: 4vw;
	}

	@media (--tablet) {
		width: 38.5vw;
		margin-right: 8vw;
	}

	@media (--phone) {
		width: 90vw;
		height: 35vw;
		margin-right: 0vw;
	}

	&:first-of-type {
		width: 40vw;
		height: 14vw;
		margin-right: 0;

		@media (--desktop) {
			width: 90vw;
			height: 35vw;
		}
	}

	&:nth-child(odd) {
		margin-right: 0;
	}

	& svg,
	& img {
		width: 80%;
		margin: 0 auto;
		display: block;
	}
}

/*-----------------------------------------
    ICONS
-----------------------------------------*/
.icons {
	display: flex;
	flex-wrap: wrap;
}

.icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 5vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;

	@media (--desktop) {
		width: 11.6vw;
		height: 11.6vw;
		margin-right: 4vw;
		margin-bottom: 4vw;
	}

	@media (--tablet) {
		width: 19.5vw !important;
		height: 19.5vw !important;
		margin-right: 4vw;
		margin-bottom: 4vw;

		&:nth-child(6n) {
			margin-right: 4vw;
		}

		&:nth-child(4n) {
			margin-right: 0vw;
		}
	}

	&:nth-child(6n) {
		margin-right: 0;
	}

	& a {
		width: 5vw;
		height: 5vw;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (--tablet) {
			width: 10vw;
			height: 10vw;
		}

		& svg,
		& img {
			height: 75%;
			width: auto;
		}
	}
}

/*-----------------------------------------
    IMAGERY
-----------------------------------------*/
.images {
	display: flex;
	flex-wrap: wrap;
}

.image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 40vw;
	height: 22vw;
	margin-right: 0;
	margin-bottom: 2vw;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
	background-size: cover;
	background-position: center;

	@media (--desktop) {
		width: 90vw;
		height: 44vw;
	}

	@media (--tablet) {
		width: 85vw;
		height: 45vw;
		margin-bottom: 4vw;
	}
}

/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
.buttons {
	&>p:first-child {
		width: 100%;
		margin: 3vh 0 1.25vh;
		font-family: var(--HeadCopy);
		letter-spacing: 1px;
		color: var(--NeutralCopy);
		text-transform: uppercase;
	}
}

/*-----------------------------------------
    SOCIAL ICONS
-----------------------------------------*/
.styleguide-section .buttons .social-button {
	background-color: var(--NeutralThree);
}

/*-----------------------------------------
    LISTS
-----------------------------------------*/
.lists {
	display: flex;
	flex-wrap: wrap;
}

.list {
	width: 19vw;
	margin-right: 2vw;

	&:nth-child(2n) {
		margin-right: 0;
	}

	@media (--desktop) {
		width: 38.5vw;
		margin-right: 4vw;
	}

	@media (--tablet) {
		width: 85vw;
		margin-right: 0;
	}
}

/*-----------------------------------------
    POST PREVIEWS
-----------------------------------------*/
.posts {
	display: flex;
	flex-wrap: wrap;

	&>p:first-child {
		width: 100%;
		margin: 20px 0 0 0;
		font-family: var(--HeadCopy);
		letter-spacing: 1px;
		color: var(--NeutralCopy);
		text-transform: uppercase;
	}
}