/*-----------------------------------------
  TITLE WRAPPER
-----------------------------------------*/

.page-template-template-homepage {
	& .title-section {
		padding: 100px 0 175px;

		&>.block {
			min-height: calc(75vh - 100px);
			align-items: center;
			position: relative;
		}

		& .overlay {
			opacity: 1;
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
			background-color: transparent;
		}

		& .contain {
			z-index: 1;

			& svg {
				fill: #0055aa;
				fill-opacity: .5;
			}
		}

		& .down-arrow-contain {
			width: 100%;
			height: 220px;
			position: absolute;
			bottom: -210px;
			left: 0;
			overflow: hidden;

			&>svg {
				fill: rgba(29, 42, 58, .8);
				position: absolute;
				left: 50%;
				top: 10px;
				transform: translateX(-50.2%);
			}

			& .down-arrow {
				position: absolute;
				left: 50%;
				top: 70px;
				width: 80px;
				height: 80px;
				padding: 16px;
				margin-left: -40px;
				border: 2px solid var(--White);
				border-radius: 50%;
				background-color: rgba(255, 255, 255, .5);
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 2;

				&::before {
					content: '';
					position: absolute;
					top: -70px;
					left: 50%;
					width: 2px;
					height: 70px;
					margin-left: -1px;
					background-color: var(--White);
				}

				&::after {
					content: '';
					position: absolute;
					bottom: -70px;
					left: 50%;
					width: 2px;
					height: 70px;
					margin-left: -1px;
					background-color: var(--White);
				}
			}
		}
	}
}

/*-----------------------------------------
  SECTIONS REPEATER
-----------------------------------------*/

.page-template-template-homepage {
	& .sections {
		& .section {
			& .gallery {}

			& .best-law-firm {
				text-align: left;
				min-height: 0;
				padding: 90px 0 0 0;

				@media (--laptop) {
					text-align: center;
					padding: 20px 0 0 0;
				}
			}
		}
	}
}

/*-----------------------------------------
  FOOTER
-----------------------------------------*/

.page-template-template-homepage,
.page-template-template-thankyou {
	& footer {
		margin-top: 0;
	}
}