/*-------------------------------------------------------------------
---------------------------------------------------------------------

  GREAT ANIMATION RESOURCES
  https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/

---------------------------------------------------------------------
-------------------------------------------------------------------*/


/*-----------------------------------------
    ENTRANCE/EXIT ANIMATION CLASSES
-----------------------------------------*/
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/*-----------------------------------------
    PAGE TITLE SCALE
-----------------------------------------*/
@keyframes title-scale {
    0%   {
			transform: scale(.95);
		}
    100% {
			transform: scale(1.075);
		}
}