/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
button, .button {
	display: inline-block;
	padding: .75em 2.25em;
	margin: 0 .5em .5rem 0;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	color: var(--WhiteCopy);
	background: var(--PrimaryOne);
	font-family: var(--HeadCopy-Light);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: all .25s ease-in-out;
	&::after {
		display: none;
	}
	&:hover, &:focus, &.is-hover {
		background: #977b71;
	}
	&:active, &.is-active {
		background: #8f746a;
	}
	&.is-secondary {
		background: var(--PrimaryTwo);
		&:hover, &:focus, &.is-hover {
			background: #59667a;
		}
		&:active, &.is-active {
			background: #546074;
		}
	}
	&.is-small {
		padding: .5em 1.5em;
		font-size: .875rem;
	}
}

/*-----------------------------------------
    SKIP NAV
-----------------------------------------*/
.skip-nav {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 3vw;
	transform: translateY(-100%);
	&:hover, &:focus {
		transform: translateY(0);
	}
}
.anchor {
	position: relative;
	display: block;
	width: 0;
	height: 0;
	top: -5vh;
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/
.social-button {
	width: 75px;
	height: 75px;
	display: inline-block;
	padding: 16px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border: 2px solid var(--PrimaryOne);
	border-radius: 50%;
	&::after {
		display: none;
	}
	& svg {
		width: 100%;
		height: auto;
		fill: var(--White);
		transition: all .25s ease-in-out;
	}
	&:hover svg {
		fill: #C3CCD5;
	}
}