/*-----------------------------------------
    FORMS
-----------------------------------------*/
form {
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}
	& li {
		display: inline-block;
		width: 100%;
		margin-bottom: .5em;
		padding: 0;
		&.half {
			width: 49%;
			margin-right: 1%;
			&.last {
				margin-right: 0;
				margin-left: 1%;
			}
			@media (--tablet) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
		&.third {
			width: 32.33%;
			margin: 0 .5%;
			&.first {
				margin-left: 0;
				margin-right: 1%;
			}
			&.last {
				margin-right: 0;
				margin-left: 1%;
			}
			@media (--tablet) {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
		&.block li {
			display: block;
		}
	}
}
.validation_message {
	display: none;
}

/*-----------------------------------------
    LABELS
-----------------------------------------*/
label {
	display: block;
	padding: .5em 0;
	font-size: responsive 14px 16px; 
	font-range: 420px 1400px;
	font-family: var(--BodyCopy);
}
.ginput_container label,
.charleft {
	font-size: responsive 10px 12px; 
	font-range: 420px 1400px;
	margin-bottom: .5rem;
}

/*-----------------------------------------
    INPUTS
-----------------------------------------*/
input {
	font-family: var(--BodyCopy-Bold);
	background-color: var(--NeutralOne);
  border: 2px solid var(--NeutralOne);
	width: 100%;
	padding: 1em;
	margin-bottom: .75em;
  &:focus, &.is-activated {
    outline: none;
		border-color: var(--NeutralFour);
  }
	&.LV_valid_field {
		border-color: #24ce5f;
	}
	&.LV_invalid_field {
		border-color: #d0021b;
	}
}

/*-----------------------------------------
    RADIO / CHECKBOXES
-----------------------------------------*/
input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: #24ce5f;
		border-color: #24ce5f;
	}
	& + label {
		display: inline-block;
		font-size: responsive 14px 16px; 
		font-range: 420px 1400px;
		margin: 0;
	}
}
input[type="checkbox"] {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	margin: 0 .25em 0 1em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: #24ce5f;
		border-color: #24ce5f;
	}
	& + label {
		display: inline-block;
		font-size: responsive 14px 16px; 
		font-range: 420px 1400px;
		margin: 0;
	}
}

/*-----------------------------------------
    FULE UPLOAD
-----------------------------------------*/
input[type="file"] {
	background: transparent;
	padding: 0;
	border: none;
	padding-left: 85px;
	position: relative;
	margin-top: 10px;
	font-family: var(--HeadCopy);
	letter-spacing: 2px;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::before {
  content: 'Choose File';
  display: inline-block;
  background: var(--PrimaryOne);
  border: none;
  border-radius: 50px;
  padding: .75em 2.25em;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
	color: var(--WhiteCopy);
	font-family: var(--HeadCopy-Light);
	letter-spacing: 2px;
  font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: -10px;
}
input[type="file"]:hover::before {
  background: #977b71;
}
input[type="file"]:active::before {
  background: #8f746a;
}

/*-----------------------------------------
    SELECT
-----------------------------------------*/
select {
	font-family: var(--BodyCopy-Bold);
	background-color: var(--NeutralOne);	
  border: 2px solid var(--NeutralOne);
	padding: .5em;
	width: 100%;
  &:focus, &.is-activated {
    outline: none;
  } 
	&.LV_valid_field {
		border-color: #24ce5f;
	}
	&.LV_invalid_field {
		border-color: #d0021b;
	}
}

/*-----------------------------------------
    TEXTAREA
-----------------------------------------*/
textarea {
	font-family: var(--BodyCopy-Bold);
	background-color: var(--NeutralOne);	
  border: 2px solid var(--NeutralOne);
	padding: .5em;
	width: 100%;
  &:focus, &.is-activated {
    outline: none;
  } 
	&.LV_valid_field {
		border-color: #24ce5f;
	}
	&.LV_invalid_field {
		border-color: #d0021b;
	}
}

/*-----------------------------------------
    RANGE SLIDER
-----------------------------------------*/
.gform_footer {
	padding: 0 1vw;
}
form.letter-filter { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	& label { 
		color: var(--PrimaryThree);
		font-family: var(--HeadCopy);
		font-size: responsive 18px 23px; 
		font-range: 420px 1400px;
		text-transform: uppercase;
	}
	& output {
		color: var(--PrimaryTwo);
		font-family: var(--HeadCopy);
		font-size: responsive 23px 30px; 
		font-range: 420px 1400px;
		text-transform: uppercase;
		margin-top: -10px;
	}
	.range-slider {
    -webkit-appearance: none;
		appearance: none;
    width: 100%;
    height: 2px;  
    background: var(--PrimaryOne);
		border: 1px solid var(--PrimaryOne);
    outline: none;
		padding: 0;
		margin-top: 25px;
		&::-webkit-slider-thumb {
			appearance: none;
			width: 35px;
			height: 35px;
			border-radius: 50%; 
			background: var(--PrimaryTwo);
			cursor: pointer;
		}
		&::-moz-range-thumb {
			appearance: none;
			width: 35px;
			height: 35px;
			border-radius: 50%; 
			background: var(--PrimaryTwo);
			cursor: pointer;
		}
	}
}