/*-----------------------------------------
    FONTS
-----------------------------------------*/
@font-face {
  font-family: 'Antonio Light';
  src: url('../fonts/Antonio-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Antonio';
  src: url('../fonts/Antonio-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville Italic';
  src: url('../fonts/LibreBaskerville-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Sans Bold';
  src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
}

/*-----------------------------------------
    HEADINGS
-----------------------------------------*/
h1, h2, h3, h4, h5, h6,
.widget h1, .widget h2, .widget h3,
.widget h4, .widget h5, .widget h6 {
	font-family: var(--HeadCopy);
	font-weight: 400;
	text-transform: uppercase;
	margin: 1em 0 .35em 0;
}
h1, .widget h1 { 
	font-size: responsive 35px 55px; 
	font-range: 420px 1400px;
	letter-spacing: 5px;
}
h2, .widget h2 {  
	font-size: responsive 30px 34px; 
	font-range: 420px 1400px;
	letter-spacing: 1px;
}
h3, .widget h3 {  
	font-family: var(--SubHeadCopy);
	font-size: responsive 18px 23px; 
	font-range: 420px 1400px;
	text-transform: none;
}
h4, .widget h4 {  
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 20px; 
	font-range: 420px 1400px;
	text-transform: none;
}
h5, .widget h5 {  
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 18px; 
	font-range: 420px 1400px;
	text-transform: none;
}
h6, .widget h6 {  
	font-size: responsive 16px 18px; 
	font-range: 420px 1400px;
}

/*-----------------------------------------
    SUBHEADINGS
-----------------------------------------*/
h1 + h2 { 
	font-family: var(--SubHeadCopy);
	margin-top: -.25em;
	text-transform: none;
}
h2 + h3, h1 + h3 {  
	font-family: var(--SubHeadCopy);
	margin-top: -.25em;
	text-transform: none;
}
h3 + h4 {  
	font-family: var(--SubHeadCopy);
	margin-top: -.25em;
	text-transform: none;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/
b, strong {
	font-family: var(--BodyCopy-Bold);
	font-weight: 400;
}
p, time {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 16px; 
	font-range: 420px 1400px;
	line-height: 2;
}
ol, ul {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 16px; 
	font-range: 420px 1400px;
  padding-left: 1rem;
	margin: 20px 0 35px 0;
}
li {  
	font-family: var(--BodyCopy);
	padding-left: 1rem;
	line-height: 2;
}
a {
	color: var(--PrimaryOne);
	font-family: var(--BodyCopy-Bold);
	font-size: responsive 14px 16px; 
	font-range: 420px 1400px;
	text-decoration: none;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		height: 1px;
		width: 0;
		background-color: var(--PrimaryOne);
		transition: all .5s ease-in-out;
	}
  &:hover, &:focus, &:active{
		&::after {
			width: 100%;
		}
  }
}
hr {
  height: 2px;
  margin: 16px 0;
  background: var(--NeutralTwo);
  border: none;
}
blockquote, q {
  margin: 2rem auto;
  padding: .25rem 1.5rem;
  border-left: 3px solid var(--PrimaryFive);
	font-family: var(--SubHeadCopy);
	font-size: responsive 18px 22px; 
	font-range: 420px 1400px;
	line-height: 1.75;
	width: 90%;
	& p {
		font-family: var(--SubHeadCopy);
		font-size: responsive 18px 22px;
		font-range: 420px 1400px;
		line-height: 1.75;
	}
}
pre {
	margin-bottom: 0;
	& + .click-to-copy {
		text-decoration: underline;
		font-size: responsive 14px 14px; 
		font-range: 420px 1400px;
	}
}
code {
	background: #272822;
	color: #e5e5e5;
	display: inline-block;
	padding: .75rem .5rem;
	font-size: responsive 12px 12px; 
	font-range: 420px 1400px;
	max-width: 100%;
	max-height: 200px;
	overflow: auto;
}