/*-----------------------------------------
    COPYRIGHT
-----------------------------------------*/
.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 1vw 0 1vw;
	width: 100%;
	z-index: 2;
	@media (--tablet) {
		padding-bottom: 75px;
	}
	& > p {
		color: var(--WhiteCopy);
		display: inline-block;
		margin: 0 .5em 0 0;
		font-size: 14px;
		@media (--tablet) {
			text-align: center;
		}
	}
	& nav.footer-nav {
		display: inline-block;
		& ul { 
			display: flex;
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			& li {
				padding: 0;
				margin: 0;
				border-right: 1px solid var(--WhiteCopy);
				&:last-child {
					border-right: none;
				}
				& a {
					color: var(--WhiteCopy);
					padding: .25em .5em;
					font-size: 14px;
				}
			}
		}
	}
}