/*-----------------------------------------
		ELEMENT5 CREDIT LINK
		the svg is controlled by element5
-----------------------------------------*/
#element5-credit {
	position: absolute;
	bottom: 45px;
	width: 100%;
	text-align: right;
	overflow: hidden;
	height: 70px;
	@media (--tablet) {
		bottom: 0;
	}
	& a {
		display: inline-block;
		position: relative;
		z-index: 2;
		&::after {
			display: none;
		}
	}
	& img {
		transform: translateX(100%);
		transition: all .5s ease-in-out;
		box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
		&.visible {
			transform: translateX(0);
		}
	}
}