/*-----------------------------------------
    BACK TO TOP
-----------------------------------------*/
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: -1;
	opacity: 0;
	border-radius: 50%;
	transition: opacity .25s ease-in-out;
	&.visible {
		z-index: 1000;
		opacity: 1;
	}
	&::after {
		display: none;
	}
	& svg {
		width: 60px;
		height: 60px;
	}
}

/*-----------------------------------------
    FOOTER
-----------------------------------------*/
footer {
	background-image: url('../images/footer-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding-bottom: 25px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 100px;
	& > .block {
		width: 90vw;
		max-width: 1024px;
		margin : 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		& > .block {
			width: 33.33%;
			position: relative;
			z-index: 2;
			margin: 30px 0;
			@media (--laptop) {
				width: 50%;
			}
			@media (--tablet) {
				width: 100%;
				text-align: center;
				margin: 0;
			}
			&:nth-child(2) {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				@media (--tablet) {
					display: none;
				}
				& > svg, & > img {
					height: 60px;
				}
			}
			&:first-child {
				& img {
					height: 40px;
					margin: -40px auto 0 auto;
					display: block;
				}
			}
			& p {
				color: var(--WhiteCopy);
				margin: .5em 0;
				line-height: 1.25;
			}
			& a {
				color: var(--WhiteCopy);
			}
		}
	}
	& .featured-attorney {
		position: relative;
		z-index: 2;
		align-items: center;
		margin: -40px 0 100px 0;
		@media (--tablet) {
			margin-bottom: 60px;
		}
		& a::after {
			display: none;
		}
		& img {
			width: 125px;
			height: 125px;
			border-radius: 50%;
		}
		& p {
			font-family: var(--HeadCopy-Light);
			font-size: responsive 18px 20px; 
			font-range: 420px 1400px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: var(--PrimaryTwo);
			margin: 1em .5em 0 .5em;
		}
		& a.name {
			width: 100%;
			display: block;
			& h3 {
				width: 100%;
				color: var(--WhiteCopy);
				text-align: center;
			}
		}
	}
	& .social-nav {
		text-align: center;
		& .social-button {
			width: 40px;
			height: 40px;
			padding: 10px;
		}
	}
	& .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(180deg, #1d2a3a 15%,  rgba(29, 42, 58, 0.6) 100%);
	}
}