/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/


/*-----------------------------------------
    VARIABLES
-----------------------------------------*/
:root {
	--White: #ffffff;
	--Black: #000000;
	--PrimaryOne: #a8897d;
	--PrimaryTwo: #637188;
	--PrimaryThree: #1d2a3a;
	--PrimaryFour: #edeef2;
	--PrimaryFive: #c3ccd5;
	--NeutralOne: #edeef2;
	--NeutralTwo: #edeef2;
	--NeutralThree: #d9dee5;
	--NeutralFour: #c3ccd5;
	--NeutralFive: #c3ccd5;
	--WhiteCopy: #ffffff;
	--BlackCopy: #1d2a3a;
	--NeutralCopy: #9eb1bc;
	--HeadCopy: 'Antonio';
	--HeadCopy-Light: 'Antonio Light';
	--SubHeadCopy: 'Libre Baskerville Italic';
	--BodyCopy-Bold: 'Droid Sans Bold';
	--BodyCopy: 'Droid Sans';
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/
@custom-media --phone (max-width: 515px);
@custom-media --tablet (max-width: 768px);
@custom-media --laptop (max-width: 1024px);
@custom-media --desktop (max-width: 1200px);

/*-----------------------------------------
    FORCES MEDIA QUERIES TO BE
		WRITTEN IN CORRECT ORDER
-----------------------------------------*/
div {
	@media (--desktop) {
		box-sizing: inherit;
	}

	@media (--laptop) {
		box-sizing: inherit;
	}

	@media (--tablet) {
		box-sizing: inherit;
	}

	@media (--phone) {
		box-sizing: inherit;
	}
}

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/
html {
	box-sizing: border-box;
	font-size: 16px;
	color: var(--BlackCopy);
}

body {
	position: relative;
	overflow-x: hidden;

	&.no-scroll {
		overflow: hidden;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------------
    ADMIN WP BAR
-----------------------------------------*/
body.admin-bar {
	margin-top: -32px;

	@media (--laptop) {
		margin-top: -46px !important;
	}
}

#wpadminbar {
	opacity: .25;
	position: fixed !important;
	top: -32px !important;
	transition: all .25s ease-in-out;

	@media (--laptop) {
		top: -46px !important;
	}

	&::after {
		content: "";
		left: 0;
		top: 100%;
		right: 0;
		height: 10px;
		position: absolute;
	}

	&:hover,
	&:focus {
		opacity: 1;
		top: 0 !important;
	}
}

/*-----------------------------------------
   WYSIWYG CLASSES
-----------------------------------------*/
.alignleft {
	float: left;
	margin: 8px 8px 8px 0;

	@media (--phone) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;

	@media (--phone) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

/*-----------------------------------------
   CONTENT WRAPPER
-----------------------------------------*/
.default-contents {
	width: 90vw;
	max-width: 940px;
	margin: 0 auto;
	padding: 5vh 0 8vh 0;
	position: relative;
	z-index: 3;

	& img,
	& svg {
		max-width: 100%;
		height: auto;
	}

	& h1 {
		font-size: responsive 30px 34px;
		font-range: 420px 1400px;
		letter-spacing: 1px;
	}

	&>h1:first-child,
	&>h2:first-child,
	&>h3:first-child,
	&>h4:first-child,
	&>h5:first-child,
	&>h6:first-child,
	&>p:first-child {
		margin-top: 0;
	}
}

.sidebar-and-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 90vw;
	max-width: 940px;
	margin: 0 auto;

	& aside {
		width: 300px;
		margin-right: 50px;
		padding: 5vh 0 8vh 0;
		order: 1;

		@media (--tablet) {
			order: 2;
			width: 100%;
			margin: 0;
		}
	}

	& .default-contents {
		width: calc(100% - 350px);
		order: 2;

		@media (--tablet) {
			order: 1;
			width: 100%;
		}
	}
}