/*-----------------------------------------
    IE11 HACK
-----------------------------------------*/

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	/* IE11 */
	.primary-nav-container {
		justify-content: center;
	}
	.page-template-template-homepage .title-section>.block {
		height: calc(75vh - 6.25rem);
	}
	.title-section>.block {
		height: 50vh;
	}
	.manual>.block,
	.best-law-firm>.block,
	.newsletter>.block,
	footer>.block {
		margin: 0;
	}
	.news-preview,
	.event-preview {
		display: block;
	}
}