/*-----------------------------------------
    POST FEED
-----------------------------------------*/

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

/*-----------------------------------------
  	PAGINATION
-----------------------------------------*/

.pagination,
.posts-navigation {
	display: none;
}

/*-----------------------------------------
    INFINITE SCROLL
-----------------------------------------*/

.page-load-status {
	width: 85vw;
	display: none;
	margin: 5vh auto;
	color: var(--NeutralThree);
	text-align: center;
	& p {
		margin: 0;
	}
}

svg.loading path {
	fill: var(--PrimaryOne);
}

.load-more-block {
	width: 90vw;
	max-width: 940px;
	margin: 0 auto;
	padding: 25px 1vw 8vh 1vw;
	& .load-more {
		display: table;
		margin: 0 auto;
	}
}

/*-----------------------------------------
  	POST FEED
-----------------------------------------*/

.news-and-events {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 90vw;
	max-width: 940px;
	margin: 0 auto;
	& .post-feed {
		@media (--phone) {
			order: 2;
		}
	}
	& .post-feed,
	& .event-feed {
		width: calc(50% - 2vw);
		margin: 0 1vw;
		padding-bottom: 0;
		transition: all .5s ease-in-out;
		@media (--phone) {
			width: 90vw;
			margin: 2vw auto;
		}
		& .news-preview,
		& .event-preview {
			width: 100%;
			margin: 1vw 0;
		}
	}
	& .event-feed {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
	& .event-cta {
		text-align: center;
		width: 100%;
		display: flex;
		align-items: flex-start;
		padding: 25px 0 0;
		@media (--phone) {
			justify-content: center;
		}
		& p {
			font-family: var(--SubHeadCopy);
		}
	}
}

.blog {
	& .load-more-block {
		& button {
			margin: 0;
			@media (--phone) {
				margin: 0 auto;
			}
		}
	}
}

/*-----------------------------------------
  	PUBLICATIONS FEED
-----------------------------------------*/

.gov-and-fax {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 90vw;
	max-width: 940px;
	margin: 0 auto 100px auto;
	& .fax-feed,
	& .gov-feed {
		width: calc(50% - 2vw);
		margin: 0 1vw;
		padding-bottom: 0;
		transition: all .5s ease-in-out;
		@media (--phone) {
			width: 90vw;
			margin: 2vw auto;
		}
		& .publication-preview {
			width: 100%;
			margin: 1vw 0;
		}
	}
	& .feed>a.button {
		margin: 1.5em 0 0 0;
		@media (--tablet) {
			margin: 1.5em auto;
			display: table;
		}
	}
}

/*-----------------------------------------
  	PRACTICE FEED
-----------------------------------------*/

.post-type-archive-practice {
	& .default-contents {
		& p {
			max-width: 650px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.practice-feed {
	&>h2 {
		width: 100%;
		padding: 0 1vw;
		text-transform: uppercase;
	}
	& a.letter-anchor {
		position: relative;
		top: -100px;
		display: block;
	}
}

/*-----------------------------------------
  	ATTORNEY FEED
-----------------------------------------*/

.attorney-feed {
	&>h2 {
		width: 100%;
		padding: 0 1vw;
		@media (--phone) {
			padding: 0 2vw;
		}
	}
}

.design-heading-contain {
	max-width: 800px;
	width: 90vw;
	margin: -40px auto 0 auto;
	position: relative;
	& svg {
		position: relative;
		background: var(--PrimaryOne);
		border-radius: 50%;
		padding: 8px;
		height: 40px;
		width: 40px;
		fill: white;
		cursor: pointer;
	}
	& .design-heading {
		z-index: -1;
		white-space: nowrap;
		text-align: right;
		position: absolute;
		top: 80px;
		color: var(--NeutralOne);
		font-family: var(--HeadCopy);
		font-size: responsive 150px 200px;
		font-range: 420px 1400px;
		font-size: 200px;
		letter-spacing: 20px;
		text-transform: uppercase;
		right: 28%;
		top: -80px;
		@media (--laptop) {
			top: 30px;
			font-size: responsive 100px 175px;
			font-range: 420px 1400px;
		}
		@media (--laptop) {
			right: auto;
			left: -20px;
		}
	}
}

.attorney-nav {
	@media (--tablet) {
		margin-bottom: 0;
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}
}

.attorney-locations {
	width: 200px;
	border: none;
	font-family: var(--SubHeadCopy);
	background-color: transparent;
	background-image: url(../images/select-arrow.svg);
	background-position: center right;
	background-repeat: no-repeat;
	appearance: none;
	line-height: 2;
	cursor: pointer;
}

.post-type-archive-attorney .load-more {
	margin: 0 auto;
}

/*-----------------------------------------
  	LOCATION FEED
-----------------------------------------*/

.location-feed {
	&>h2 {
		width: 100%;
		padding: 0 1vw;
		@media (--phone) {
			padding: 0 2vw;
		}
	}
}