/*-----------------------------------------
  	PREVIEW
-----------------------------------------*/
.location-preview {
	background-color: var(--NeutralOne);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: calc(33.33% - 2vw);
	margin: 1vw;
	transition: all .5s ease-in-out;

	@media (--tablet) {
		width: 90vw;
		margin: 2vw auto;
	}

	&:hover,
	&:focus {
		background-color: var(--NeutralFive);
	}

	&>a {
		text-decoration: none;
		width: 100%;
	}

	& .heading {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-end;
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 175px;
		padding: 1vw;

		& h3 {
			font-family: var(--HeadCopy);
			font-size: responsive 16px 20px;
			font-range: 420px 1400px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: var(--WhiteCopy);
			position: relative;
			z-index: 2;
		}

		& .overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(29, 42, 58, .5);
		}
	}

	& .excerpt {
		padding: 1vw 2vw;
		color: var(--BlackCopy);

		& p,
		& address {
			margin: 0 0 10px 0;
			line-height: 1.5;
			font-weight: 400;
			font-family: var(--BodyCopy);

			&:last-child {
				margin: 0;
			}
		}
	}
}

/*-----------------------------------------
  	SINGLE
-----------------------------------------*/
.location-meta,
.location-map {
	width: 90vw;
	max-width: 940px;
	margin: 0 auto;
}

.location-meta {
	display: flex;
	flex-wrap: wrap;

	& .meta {
		width: 50%;
	}

	& .hosts {
		width: 50%;

		& .host {
			& p {
				margin: 0 0 0 0;
			}
		}
	}
}

.host a {
	display: flex;
	margin-bottom: 1vh;
	width: fit-content;
}

/*-----------------------------------------
  	GOOGLE MAP
-----------------------------------------*/
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

.acf-map img {
	max-width: inherit !important;
}