/*-----------------------------------------
  	PREVIEW
-----------------------------------------*/
.positions {
	border-collapse: collapse;
	font-family: var(--BodyCopy);
	width: 150%;
	@media (--laptop) {
		width: 100%;
	}
	& tr {
		&:nth-child(odd) {
			background-color: var(--White);
		} 
		&:nth-child(even) {
			background-color: var(--NeutralOne);
		} 
	}
	& th {
		text-align: left;
		background-color: var(--PrimaryTwo);
		color: var(--WhiteCopy);
		font-family: var(--HeadCopy);
		font-size: responsive 18px 23px; 
		font-range: 420px 1400px;
		padding: 10px 24px;
		letter-spacing: 1px;
	}
	& td {
		padding: 10px 24px;
		font-size: 14px;
		font-family: var(--SubHeadCopy);
	}
}

/*-----------------------------------------
  	SINGLE
-----------------------------------------*/