/*-----------------------------------------
  	PREVIEW
-----------------------------------------*/
.practice-preview {
	background-color: var(--NeutralOne);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: calc(50% - 2vw);
	margin: 1vw;
	transition: all .5s ease-in-out;
	@media (--phone) {
		width: 90vw;
		margin: 2vw auto;
	}
	&:hover, &:focus {
		background-color: var(--NeutralFive);
	}
	& a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	& h2 {
		font-family: var(--BodyCopy);
		font-size: responsive 14px 16px; 
		font-range: 420px 1400px;
		line-height: 1.25;
		text-transform: none;
		margin: 1.5em .5em;
	}
}

/*-----------------------------------------
  	SINGLE
-----------------------------------------*/
.sectional-nav.practice-nav {
	justify-content: flex-start;
	&::after {
		right: auto;
		left: 0;
	}
	& ul {
		justify-content: flex-start;
	}
}