/*-----------------------------------------
  	PREVIEW
-----------------------------------------*/
.testimonies {
	background: var(--PrimaryOne);
	width: 100%;
	padding: 75px 0;
	& h2 {
		color: var(--WhiteCopy);
		padding: 0 1em;
		margin: 0 0 75px 0;
		text-align: center;
	}
	.slick-arrow {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		margin: 0;
		border-radius: 0;
		opacity: 0;
		&.slick-next {
			right: 0;
		}
		&.slick-prev {
			left: 0;
		}
	}
}
.testimony-preview {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	padding: 1vw 2vw;
	& img {
		width: 66px;
		height: 66px;
		border-radius: 50%;
	}
	& blockquote {
		width: calc(100% - 66px);
		padding: 0 0 0 1vw;
		margin: 0;
		border: none;
		& p {
			margin: 0;
			color: var(--WhiteCopy);
			font-family: var(--BodyCopy);
			font-size: responsive 14px 16px; 
			font-range: 420px 1400px;
			&:last-child {
				font-family: var(--BodyCopy-Bold);
			}
		}
	}
}

/*-----------------------------------------
  	SINGLE
-----------------------------------------*/