/*-----------------------------------------
  	PREVIEW
-----------------------------------------*/

.attorney-preview {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 1vw;
	min-height: 300px;
	width: calc(25% - 2vw);
	margin: 1vw;
	overflow: hidden;

	@media (--laptop) {
		width: calc(50% - 2vw);
	}

	@media (--phone) {
		width: 90vw;
		max-width: 225px;
		margin: 2vw auto;
		padding: 3vw;
	}

	&:hover,
	&:focus {
		& .headshot {
			transform: scale(1.2);
		}
	}

	& a {
		text-decoration: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	& .info {
		position: absolute;
		z-index: 3;
		width: calc(100% - 2vw);
		right: 1vw;
		left: 1vw;
		bottom: 1vw;

		@media (--phone) {
			width: calc(100% - 6vw);
			right: 3vw;
			left: 3vw;
			bottom: 3vw;
		}

		& h2 {
			color: var(--BlackCopy);
			margin: 0;
		}

		& h3 {
			color: var(--BlackCopy);
			margin: 8px 0 0 0;
			font-size: responsive 14px 18px;
			font-range: 420px 1400px;
		}
	}

	& .headshot {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: var(--PrimaryTwo);
		transition: all .5s ease-in-out;
	}

	& .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
	}
}

/*-----------------------------------------
  	SINGLE
-----------------------------------------*/

aside.attorney-sidebar {
	@media (--tablet) {
		order: 0;
	}

	& .author {
		& img {
			max-width: 100%;
		}

		& h2 {
			margin: 16px 0 8px 0;
		}

		& h3 {
			margin: 16px 0;
		}

		& h4 {
			margin: 0 0 4px 0;
		}

		& .contact {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-top: 8px;

			& p {
				margin: 0 4px;
				font-family: var(--HeadCopy);
				letter-spacing: 2px;
				text-transform: uppercase;
			}

			& a {
				width: 40px;
				height: 40px;
				background-color: var(--PrimaryOne);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 4px;
				transition: all .25s ease-in-out;

				&::after {
					display: none;
				}

				&:hover,
				&:focus,
				&.is-hover {
					background: #977b71;
				}

				&:active,
				&.is-active {
					background: #8f746a;
				}

				& svg {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}

.boxed-content {
	background-color: var(--NeutralOne);
	padding: 2vw 4vw;
	margin-bottom: 2vw;

	&>h2:first-child,
	&>h3:first-child,
	&>h4:first-child,
	&>h5:first-child,
	&>h6:first-child,
	&>p:first-child {
		margin-top: 0;
	}

	&>h2:first-child,
	&>h3:first-child,
	&>h4:first-child,
	&>h5:first-child,
	&>h6:first-child {
		margin-bottom: 1em;
	}
}

.single-attorney footer {
	padding-top: 50px;
}