/*-----------------------------------------
  	PREVIEW
-----------------------------------------*/

.publication-preview {
	background-color: var(--NeutralOne);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: calc(50% - 2vw);
	margin: 1vw;
	transition: all .5s ease-in-out;
	@media (--phone) {
		width: 90vw;
		margin: 2vw auto;
	}
	&:hover,
	&:focus {
		background-color: var(--NeutralFive);
	}
	&>a {
		text-decoration: none;
	}
	& .heading {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background-color: var(--NeutralThree);
		padding: 0 1vw;
		@media (--phone) {
			padding: 0 2vw;
		}
		& p {
			color: var(--BlackCopy);
			&:first-of-type {
				font-family: var(--HeadCopy);
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			&:last-of-type {
				font-family: var(--SubHeadCopy);
			}
		}
	}
	& .excerpt {
		padding: 0 2vw 45px;
		min-height: 190px;
		color: var(--BlackCopy);
		@media (--laptop) {
			padding: 0 1vw 45px 1vw;
		}
		@media (--phone) {
			padding: 0 2vw 45px 2vw;
		}
	}
	& .meta {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background-color: var(--White);
		padding: 0 1vw;
		padding-left: calc(1vw + 71px);
		position: relative;
		width: 100%;
		& img {
			position: absolute;
			left: 1vw;
			top: -33px;
			border-radius: 50%;
			width: 66px;
			height: 66px;
		}
		& p {
			margin: 8px 0;
			& a {
				color: var(--PrimaryOne);
				text-decoration: none;
				font-family: var(--BodyCopy-Bold);
			}
			&:last-of-type {
				font-family: var(--SubHeadCopy);
			}
		}
	}
}

/*-----------------------------------------
  	SINGLE
-----------------------------------------*/

aside.publication-sidebar {
	& .author {
		margin-bottom: 25px;
		& img {
			max-width: 100%;
		}
		& h2 {
			margin: 16px 0 8px 0;
		}
		& h3 {
			margin: 16px 0;
		}
		& h4 {
			margin: 0 0 4px 0;
		}
		& .contact {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-top: 8px;
			& p {
				margin: 0 4px;
			}
			& a {
				width: 40px;
				height: 40px;
				background-color: var(--PrimaryOne);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 4px;
				transition: all .25s ease-in-out;
				&::after {
					display: none;
				}
				&:hover,
				&:focus,
				&.is-hover {
					background: #977b71;
				}
				&:active,
				&.is-active {
					background: #8f746a;
				}
				& svg {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}