/*-----------------------------------------
  	PREVIEW
-----------------------------------------*/
.news-preview {
	background-color: var(--NeutralOne);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 1vw;
	width: calc(50% - 2vw);
	padding-bottom: 0;
	transition: all .5s ease-in-out;

	@media (--phone) {
		width: 90vw;
		margin: 2vw auto;
	}

	&:hover,
	&:focus {
		background-color: var(--NeutralFive);
	}

	&>a {
		text-decoration: none;
	}

	& .heading {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-end;
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 175px;
		padding: 1vw;

		& h3 {
			font-family: var(--HeadCopy);
			font-size: responsive 16px 20px;
			font-range: 420px 1400px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: var(--WhiteCopy);
			position: relative;
			z-index: 2;
		}

		& .overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(29, 42, 58, .5);
		}
	}

	& .excerpt {
		padding: 1.5vw 1.5vw 6px 1.5vw;
		color: var(--BlackCopy);

		& p {
			margin: 0;
		}
	}

	& .meta {
		height: 105px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 0 1.5vw 1vw 1.5vw;
		color: var(--BlackCopy);

		& p {
			width: 100%;
			margin: 0;
			padding: 0;
			font-family: var(--SubHeadCopy);
			font-size: responsive 14px 14px;
			font-range: 420px 1400px;
		}
	}
}

/*-----------------------------------------
  	SEARCH PREVIEW
-----------------------------------------*/
.search-preview {
	background-color: var(--NeutralOne);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: calc(50% - 2vw);
	margin: 1vw;
	transition: all .5s ease-in-out;

	@media (--phone) {
		width: 90vw;
		margin: 2vw auto;
	}

	&:hover,
	&:focus {
		background-color: var(--NeutralFive);
	}

	&>a {
		text-decoration: none;
		width: 100%;
	}

	& .heading {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 1vw;
		min-height: 100px;
		background-color: var(--NeutralThree);

		@media (--phone) {
			padding: 0 2vw;
		}

		& p {
			color: var(--BlackCopy);

			&:first-of-type {
				font-family: var(--HeadCopy);
				text-transform: uppercase;
			}

			&:last-of-type {
				font-family: var(--SubHeadCopy);
			}
		}
	}

	& .excerpt {
		padding: 1vw;
		min-height: 185px;
		color: var(--BlackCopy);

		@media (--phone) {
			padding: 2vw;
		}
	}

	& .meta {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background-color: var(--White);
		padding: 0 1vw;
		margin-top: 1px;
		position: relative;
		width: 100%;
		min-height: 48px;

		@media (--phone) {
			padding: 0 2vw;
		}

		& a {
			width: 100%;
			color: var(--BlackCopy);
			min-height: 48px;

			&::after {
				display: none;
			}
		}

		& img {
			width: 50px;
			height: 50px;
			margin-top: -25px;
			border-radius: 50%;
			background: var(--White);
			position: absolute;
			top: 0;
		}

		& p {
			margin: 8px 0;
			width: 100%;
			text-align: right;

			& a {
				color: var(--PrimaryOne);
				text-decoration: none;
				font-family: var(--BodyCopy-Bold);
			}

			&:last-of-type {
				font-family: var(--SubHeadCopy);
			}
		}
	}
}