/*-----------------------------------------
  	PREVIEW
-----------------------------------------*/
.event-preview {
	background-color: var(--NeutralOne);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 1vw;
	width: calc(50% - 2vw);
	padding-bottom: 0;
	transition: all .5s ease-in-out;

	@media (--phone) {
		width: 90vw;
		margin: 2vw auto;
	}

	&:hover,
	&:focus {
		background-color: var(--NeutralFive);
	}

	&:hover,
	&:focus {
		background-color: var(--NeutralFive);
	}

	&>a {
		text-decoration: none;
	}

	& .heading {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-end;
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 175px;
		padding: 1vw;

		& h3 {
			font-family: var(--HeadCopy);
			font-size: responsive 16px 20px;
			font-range: 420px 1400px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: var(--WhiteCopy);
			position: relative;
			z-index: 2;
		}

		& .overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(29, 42, 58, .5);
		}
	}

	& .excerpt {
		padding: 1.5vw 1.5vw 6px 1.5vw;
		color: var(--BlackCopy);

		& p {
			margin: 0;
		}
	}

	& .meta {
		height: 105px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 0 1.5vw 1vw 1.5vw;
		color: var(--BlackCopy);

		& p {
			width: 100%;
			margin: 0;
			padding: 0;
			font-family: var(--SubHeadCopy);
			font-size: responsive 14px 14px;
			font-range: 420px 1400px;
		}
	}
}

/*-----------------------------------------
  	SINGLE
-----------------------------------------*/