/*-----------------------------------------
  	POST
-----------------------------------------*/
.post-preview {

}

/*-----------------------------------------
  	SEARCH
-----------------------------------------*/
.search-feed {
	& .post-preview {
		& .search-term {
			padding: 0 .35rem;
			background: var(--PrimaryTwo);
		}
	}
}