.questions {
	margin-top: 250px;
	background-color: var(--NeutralOne);
	padding: 75px 2vw;
	text-align: center;
	position: relative;
	@media (--laptop) {
		margin-top: 150px;
	}
	& > svg {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%) translateY(-98%);
		width: 80vw;
		height: auto;
		fill: var(--NeutralOne);
		@media (--tablet) {
			width: 90vw;
		}
	}
	& a {
		color: var(--BlackCopy);
		& h3 {
			margin: 0;
			font-size: responsive 26px 34px; 
			font-range: 420px 1400px;
			line-height: 1.5;
		}
	}
}