/*-----------------------------------------
   BEST LAW FIRM
-----------------------------------------*/
.best-law-firm {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 400px;
	padding: 50px 0;
	background-color: var(--White);
	text-align: center;
	& > .block {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		& img {
			max-height: 150px;
		}
		& h2 {
			margin-top: 0;
		}
	}
}