/*-----------------------------------------
   NEWSLETTER
-----------------------------------------*/
.manual {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 400px;
	padding: 25px 0;
	background-color: var(--PrimaryThree);
	background-image: url('../images/newsletter-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(29, 42, 58, .4);
	}

	&>.block {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		z-index: 2;

		&>h2 {
			margin-top: 0;
			color: var(--WhiteCopy);
			text-align: center;
		}

		&>p {
			color: var(--WhiteCopy);
			text-align: center;
		}

		& form {
			& .gform_body ul {
				display: flex;

				@media (--laptop) {
					flex-wrap: wrap;
				}

				& li {
					margin: 10px;

					@media (--laptop) {
						width: calc(50% - 20px);
					}

					@media (--phone) {
						width: 100%;
						margin: 0;
						padding: 0;
					}
				}
			}

			& label {
				font-size: 14px;
				color: var(--WhiteCopy);
			}

			& input {
				background-color: rgba(255,255,255.75);
				line-height: 1.25;
				padding: 1em;
			}

			& .gform_footer {
				text-align: center;
				margin: 20px 0;
			}
		}
	}
}