/*----------------------------------------------------------------*\
	NOTIFICATION BAR
\*----------------------------------------------------------------*/
.notification-bar {
	width: 100%;
	background-color: var(--PrimaryOne);
	max-height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 999999;

	&>div {
		margin: 0 auto;
		max-width: 1169px;
		width: 95%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: .5rem 0;
	}

	& p {
		color: var(--White);
		font-weight: 100;
		font-size: 14px;
		margin: 0;
	}

	& a {
		color: var(--White);
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--PrimaryTwo);
			text-decoration: none;
		}
	}
}