/*-----------------------------------------
  TITLE WRAPPER
-----------------------------------------*/
.title-section {
	width: 100%;
	background-color: var(--PrimaryThree);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0 50px 0;
	position: relative;

	&>.block {
		background-color: rgba(29, 42, 58, .8);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: calc(100% - 100px);
		margin: 0 50px;
		padding: 2vw;
		min-height: 50vh;
		position: relative;
		z-index: 2;

		@media (--phone) {
			width: 90vw;
			margin: 0 auto;
		}
	}

	& h1 {
		color: var(--WhiteCopy);
		text-align: center;
		margin: 0;
	}

	& .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--PrimaryThree);
		opacity: .35;
	}
}

/*-----------------------------------------
   PAGE TITLES
-----------------------------------------*/
.page-title {
	position: relative;
	overflow: hidden;

	&>.block {
		&>.block {
			max-width: 600px;
			text-align: center;

			& h1 {
				margin: 1em 0;
			}
		}
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6,
	& p {
		width: 100%;
		color: var(--White);
		text-align: center;
	}

	& .contain {
		animation: title-scale 20s linear 0s 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 500px;
		overflow: visible;
		top: 50%;
		margin-top: -225px;
		transform: scale(1.075);
		z-index: 2;

		@media (--tablet) {
			display: none;
		}

		&>svg {
			width: 95%;
			height: auto;
			fill: rgba(146, 161, 189, .2);
		}
	}
}

/*-----------------------------------------
   POST TITLES
-----------------------------------------*/
.post-title {
	&>.block>.block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& h1 {
			width: 100%;

			& span {
				color: var(--WhiteCopy);
				font-family: var(--SubHeadCopy);
				font-size: responsive 20px 26px;
				font-range: 420px 1400px;
				vertical-align: middle;
				width: 225px;
				display: inline-block;

				@media (--laptop) {
					display: block;
					width: 100%;
				}

				&:first-child {
					margin-right: 35px;
					text-align: right;

					@media (--laptop) {
						margin: 0;
						text-align: center;
					}
				}

				&:last-child {
					margin-left: 35px;
					text-align: left;

					@media (--laptop) {
						margin: 0;
						text-align: center;
					}
				}
			}
		}

		& h3 {
			color: var(--WhiteCopy);
			display: inline-block;
			padding: 0 8px;
			border-right: 2px solid var(--White);
			margin-bottom: 1.75em;
			margin-top: 1em;

			&:last-of-type {
				border: 0;
			}

			@media (--tablet) {
				width: 100%;
				text-align: center;
				border: 0;
				margin: .25em 0;

				&:first-of-type {
					margin-top: 1em;
				}

				&:last-of-type {
					margin-bottom: 1em;
				}
			}

			&+.button-contain {
				margin-top: 0;
			}
		}

		& .button-contain {
			text-align: center;
			width: 100%;
			margin-TOP: 1.75em;
		}

		& p.post-date {
			width: 100%;
			color: var(--PrimaryTwo);
			font-family: var(--HeadCopy);
			font-size: responsive 18px 22px;
			font-range: 420px 1400px;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-align: center;
		}

		& p.post-cat {
			width: 100%;
			text-align: center;
			color: var(--WhiteCopy);
			font-family: var(--BodyCopy);
		}

		& a::after {
			display: none;
		}

		& img {
			margin: 35px auto 0 auto;
			display: block;
			border-radius: 50%;
			width: 75px;
			height: 75px;
		}
	}
}

/*-----------------------------------------
   THANK YOU PAGES
-----------------------------------------*/
.thank-title-section {
	width: 100%;
	min-height: 90vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	& .thank-message {
		width: 80vw;
		margin: 0 auto 0 auto;

		& h1 {
			font-size: responsive 60px 100px;
			font-range: 420px 1400px;
			margin: 0 0 10px 0;
			color: var(--PrimaryOne);
			text-align: left;
		}

		& h2 {
			margin-bottom: 2rem;
			max-width: 650px;
			color: var(--WhiteCopy);
			font-size: responsive 18px 23px;
			font-range: 420px 1400px;
			text-align: left;
		}

		& svg {
			width: 80px;
			fill: var(--PrimaryOne);
		}
	}
}

/*-----------------------------------------
   ERROR PAGES
-----------------------------------------*/
.error-title-section {
	width: 100%;
	min-height: 90vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	& .error-message {
		width: 80vw;
		margin: 0 auto 0 auto;

		& h1 {
			font-size: responsive 70px 100px;
			font-range: 420px 1400px;
			margin: 0 0 2vh 0;
			color: var(--PrimaryOne);
			text-align: left;
		}

		& h2 {
			max-width: 500px;
			color: var(--WhiteCopy);
		}

		& p {
			display: inline-block;
			max-width: 500px;
			color: var(--WhiteCopy);
		}

		& svg {
			width: 80px;
			position: relative;
			top: 2rem;
			margin-top: -2rem;
			margin-left: 1rem;
			fill: var(--PrimaryOne);
		}
	}
}